<div class="banner">
  <h1>Wikinimous</h1>
  <%= link_to "New article", new_article_path %>
</div>
<div class="container">
  <div class="index-articles">
    <% @articles.each do |article| %>
        <h2><%= link_to article.title, article_path(article) %></h2>
        <p><%=article.content %></p>
    <% end %>
  </div>
</div>
